

a {
	color: hsl(0, 0%, 21%);
}


header {
	border-bottom: 1px solid #eee;
}

.navbar-item a {
	color: #2d2d2d;
	text-decoration: none;
}

.label-instruction {
	display:block;
	font-weight:300;
	font-size:.9rem;
	margin-top:-5px
}



.notification,
.input,
.textarea {
	border-radius: 0;
}

.notification:not(:last-child) {
	margin-bottom: 0;
}

.navbar-item {
	font-size: .9rem;
	transition: 0.3s ease all;

	&:hover {
		background: #f8f8f8;
	}
}

.card {
	cursor: pointer;

}
.card-image {
	img {
		transition: 0.2s ease all;
	}
	&:hover {
		img {
			transform: scale(1.025);

		}
	}
}
/*
.card-content {
	transition: 0.3s ease all;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255,255,255,.85);
}
*/
.recipe-hero-image {
	display: flex;
	align-items: flex-end;
	height: 65vh;
	padding: 10px 0;
	margin-bottom: 25px;
	transition: 0.3s ease all;

	&.inactive {
		padding: 0;
		height: 0;
		.recipe-thumbnail-list {
			display: none;
		}
	}

	.recipe-thumbnail-list {
		margin-bottom: -25px;
		li { display: inline-block; border: 1px solid #fff; width: 85px; }
	}

}



.dZone {
	min-height: 150px;
	border: 1px dashed #bbb;
	color: #ccc;
	padding: 10px;
}